extends layout.pug  

block content
    .col-md-6
       p
       table.table.table-dark
           thead
                tr
                    th Enclos
                    th Capacite
                    th lier l'enclos a l'individu
                    th modifier enclos
                    th supprimer enclos

           tbody
           each enclo in enclos 
               tr
                    td 
                       - var url5 = '/enclos/' + enclo.id
                       a(href=url5) #{enclo.nom}
                    td #{enclo.capacity}
                    td 
                       - var url2 = '/lier_individu_enclos/' + id_singe + '/' + enclo.id
                       a.btn.btn-primary(href=url2, role='button') Lier a cet enclos 
                    td 
                       - var url3 = '/modification_enclos/' + enclo.id
                       a.btn.btn-primary(href=url3, role='button') modifier 
                    td
                       - var url4 = '/enclos/destroy/' + enclo.id
                       a.btn.btn-danger(href=url4, role='button') X
                       a.btn.btn-primary(href='/') Retour
